WebApplication2/Service References/TTSHWCFService/TTSHWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTSH.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTSH.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27923/TTSHWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Project_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="COORDINATOR" nillable="true" type="tns:ArrayOfProject_Coordinator_Details" />
      <xs:element minOccurs="0" name="DEPT_PI" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="PI_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Category_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b_Collaboration_Involved" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_Funding_req" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_IsFeasible" type="xs:int" />
      <xs:element minOccurs="0" name="b_Ischild" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_Isselected_project" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_StartBy_TTSH" type="xs:boolean" />
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Parent_ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_Category_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_Subtype_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_Type_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Coinvestigator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Alias1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Alias2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Research_IO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Research_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Short_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project_Master" nillable="true" type="tns:Project_Master" />
  <xs:complexType name="ArrayOfProject_Coordinator_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project_Coordinator_Details" nillable="true" type="tns:Project_Coordinator_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject_Coordinator_Details" nillable="true" type="tns:ArrayOfProject_Coordinator_Details" />
  <xs:complexType name="Project_Coordinator_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="i_Coordinator_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Coordinator_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project_Coordinator_Details" nillable="true" type="tns:Project_Coordinator_Details" />
  <xs:complexType name="ArrayOfPI_Master">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PI_Master" nillable="true" type="tns:PI_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPI_Master" nillable="true" type="tns:ArrayOfPI_Master" />
  <xs:complexType name="PI_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_Dept_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_MCR_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_PIName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Phone_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PI_Master" nillable="true" type="tns:PI_Master" />
  <xs:complexType name="ArrayOfProject_Dept_PI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project_Dept_PI" nillable="true" type="tns:Project_Dept_PI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject_Dept_PI" nillable="true" type="tns:ArrayOfProject_Dept_PI" />
  <xs:complexType name="Project_Dept_PI">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_PI_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project_Dept_PI" nillable="true" type="tns:Project_Dept_PI" />
  <xs:complexType name="ArrayOfProject_Master">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project_Master" nillable="true" type="tns:Project_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject_Master" nillable="true" type="tns:ArrayOfProject_Master" />
  <xs:simpleType name="DropDownName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PI">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PI_Department">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Project_Status">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IRB_Type">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IRB_Status">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Project_Category">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Project_Type">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fesibility_Status">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Drug_Location">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Project_Sub_Types">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mode_of_Notification">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ethics_Review">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Clinical_Research">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Study_Status">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PI_Details">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Country">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Collaborator">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FillSubType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Project_Name">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FillClauses">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FillCollaborators">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Contract_Category">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Contract_Status">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GetAllCollaboratorForProject">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProjectFeasibility">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Coordinators">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cupboad_Number">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LeadSponsor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTCstatus">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegularoryStatusReportFor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegulatoryIPStorage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuditModules">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuditModulesFields">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DropDownName" nillable="true" type="tns:DropDownName" />
  <xs:complexType name="ArrayOfclsDropDown">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsDropDown" nillable="true" type="tns:clsDropDown" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsDropDown" nillable="true" type="tns:ArrayOfclsDropDown" />
  <xs:complexType name="clsDropDown">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDropDown" nillable="true" type="tns:clsDropDown" />
  <xs:complexType name="Feasibility_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPT_PI" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="PROJECT_DATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_PIs" nillable="true" type="tns:ArrayOfProject_PI" />
      <xs:element minOccurs="0" name="SPONSOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b_Confidential_Agreement" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_Feasibility_Outcome" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_Interest" type="xs:boolean" />
      <xs:element minOccurs="0" name="dt_Created_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Feasibility_Start_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Protocol_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Site_Visit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Survey_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_Feasibility_Status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Checklist_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Coinvestigator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Confidential_Agreement_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Email_Send_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="s_Feasibility_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IM_Invitation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_In_File" type="xs:boolean" />
      <xs:element minOccurs="0" name="s_Interest_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Alias1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Alias2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Protocol_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Protocol_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Prototcol_Doc_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Prototcol_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Questionnaire_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Short_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Survey_Comments" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feasibility_Details" nillable="true" type="tns:Feasibility_Details" />
  <xs:complexType name="ArrayOfProject_PI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project_PI" nillable="true" type="tns:Project_PI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject_PI" nillable="true" type="tns:ArrayOfProject_PI" />
  <xs:complexType name="Project_PI">
    <xs:sequence>
      <xs:element minOccurs="0" name="i_PI_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project_PI" nillable="true" type="tns:Project_PI" />
  <xs:simpleType name="Mode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insert">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Update">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Delete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Mode" nillable="true" type="tns:Mode" />
  <xs:complexType name="ArrayOfFeasibility_Grid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feasibility_Grid" nillable="true" type="tns:Feasibility_Grid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeasibility_Grid" nillable="true" type="tns:ArrayOfFeasibility_Grid" />
  <xs:complexType name="Feasibility_Grid">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeasfibilityMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feasibility_Status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Feasibility_Status_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PI_Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_Feasibility_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feasibility_Grid" nillable="true" type="tns:Feasibility_Grid" />
  <xs:complexType name="Sponsor_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sponsor_Master" nillable="true" type="tns:Sponsor_Master" />
  <xs:complexType name="CRO_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRO_Master" nillable="true" type="tns:CRO_Master" />
  <xs:complexType name="Ethics_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="CO_Investigator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept_PI" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="Project_Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_PIs" nillable="true" type="tns:ArrayOfProject_PI" />
      <xs:element minOccurs="0" name="b_CRIO_culled" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_IsChildBearing" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_IsClinical_Trial_Insurance" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_IsRenewal" type="xs:boolean" />
      <xs:element minOccurs="0" name="dt_CRIO_culled_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Created_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Ethics_Start_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_IRB_Approve_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_IRB_Approve_Enddate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Insurance_Period" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_NewStudy_End_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Project_Status_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_IRB_Status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_IRB_Type_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_Category_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_Status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Sub_Recruited" type="xs:int" />
      <xs:element minOccurs="0" name="i_Sub_Recruited_TTSH" type="xs:int" />
      <xs:element minOccurs="0" name="i_Sub_Targeted_TTSH" type="xs:int" />
      <xs:element minOccurs="0" name="i_Sub_targeted" type="xs:int" />
      <xs:element minOccurs="0" name="s_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Insurance_file" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Alias1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Alias2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Short_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ethics_Details" nillable="true" type="tns:Ethics_Details" />
  <xs:complexType name="ArrayOfEthics_Grid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ethics_Grid" nillable="true" type="tns:Ethics_Grid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEthics_Grid" nillable="true" type="tns:ArrayOfEthics_Grid" />
  <xs:complexType name="Ethics_Grid">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ethics_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PI_Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ethics_Grid" nillable="true" type="tns:Ethics_Grid" />
  <xs:complexType name="ArrayOfSelected_Grid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Selected_Grid" nillable="true" type="tns:Selected_Grid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelected_Grid" nillable="true" type="tns:ArrayOfSelected_Grid" />
  <xs:complexType name="Selected_Grid">
    <xs:sequence>
      <xs:element minOccurs="0" name="PI_Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Study_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Selected_Grid" nillable="true" type="tns:Selected_Grid" />
  <xs:complexType name="Contract_Collobrator_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_Country_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Email1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Email2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Institution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_PhoNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_initialId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Collobrator_Master" nillable="true" type="tns:Contract_Collobrator_Master" />
  <xs:complexType name="ArrayOfContract_Master">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Master" nillable="true" type="tns:Contract_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Master" nillable="true" type="tns:ArrayOfContract_Master" />
  <xs:complexType name="Contract_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContAppStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PI_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Category_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_ReviewedByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ccdlist" nillable="true" type="tns:ArrayOfContract_Collobrator_Master" />
      <xs:element minOccurs="0" name="dt_Contract_AssignDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Contract_ReqDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_ReviewedBy_ID" type="xs:int" />
      <xs:element minOccurs="0" name="pjctmList" nillable="true" type="tns:ArrayOfProject_Master" />
      <xs:element minOccurs="0" name="pmlist" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Master" nillable="true" type="tns:Contract_Master" />
  <xs:complexType name="ArrayOfContract_Collobrator_Master">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Collobrator_Master" nillable="true" type="tns:Contract_Collobrator_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Collobrator_Master" nillable="true" type="tns:ArrayOfContract_Collobrator_Master" />
  <xs:complexType name="ArrayOfContract_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Details" nillable="true" type="tns:Contract_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Details" nillable="true" type="tns:ArrayOfContract_Details" />
  <xs:complexType name="Contract_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contract_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contracts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PI_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Category_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b_Amendments" type="xs:boolean" />
      <xs:element minOccurs="0" name="ccdlist" nillable="true" type="tns:ArrayOfContract_Collobrator_Master" />
      <xs:element minOccurs="0" name="contlist" nillable="true" type="tns:ArrayOfContractList" />
      <xs:element minOccurs="0" name="dt_Contract_StatusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Effective_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Expiry_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Finalization_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_LastSigned_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_LastUpdated_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_NewExpiry_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_Contract_Category_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Contract_Status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Coordinator_fess" type="xs:double" />
      <xs:element minOccurs="0" name="i_Currency_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Govt_Lawcountry" type="xs:int" />
      <xs:element minOccurs="0" name="i_Hospital_Cost" type="xs:double" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Investigator_fees" type="xs:double" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="listcsd" nillable="true" type="tns:ArrayOfContract_Status_Date" />
      <xs:element minOccurs="0" name="lstSelClause" nillable="true" type="tns:ArrayOfSelected_Clause_Details" />
      <xs:element minOccurs="0" name="lstSelCollab" nillable="true" type="tns:ArrayOfSelectedCollborators_Details" />
      <xs:element minOccurs="0" name="lstmultiple" nillable="true" type="tns:ArrayOfContractDetails_MultipleContractFile" />
      <xs:element minOccurs="0" name="pjctmList" nillable="true" type="tns:ArrayOfProject_Master" />
      <xs:element minOccurs="0" name="pmlist" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="s_AmendmenstContract_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Clauses_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Contract_Display_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Contract_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_UploadedContract_File" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Details" nillable="true" type="tns:Contract_Details" />
  <xs:complexType name="ArrayOfContractList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractList" nillable="true" type="tns:ContractList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractList" nillable="true" type="tns:ArrayOfContractList" />
  <xs:complexType name="ContractList">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Expiry_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_ContractCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ContractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ContractStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Contract_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Country" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractList" nillable="true" type="tns:ContractList" />
  <xs:complexType name="ArrayOfContract_Status_Date">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Status_Date" nillable="true" type="tns:Contract_Status_Date" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Status_Date" nillable="true" type="tns:ArrayOfContract_Status_Date" />
  <xs:complexType name="Contract_Status_Date">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Status_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_Contract_Status_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Status_Date" nillable="true" type="tns:Contract_Status_Date" />
  <xs:complexType name="ArrayOfSelected_Clause_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Selected_Clause_Details" nillable="true" type="tns:Selected_Clause_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelected_Clause_Details" nillable="true" type="tns:ArrayOfSelected_Clause_Details" />
  <xs:complexType name="Selected_Clause_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clause_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_Contract_Clause_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Contract_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Proposed_Changes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Selected_Clause_Details" nillable="true" type="tns:Selected_Clause_Details" />
  <xs:complexType name="ArrayOfSelectedCollborators_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedCollborators_Details" nillable="true" type="tns:SelectedCollborators_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectedCollborators_Details" nillable="true" type="tns:ArrayOfSelectedCollborators_Details" />
  <xs:complexType name="SelectedCollborators_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="i_Collobrator_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Contract_Details_Id" type="xs:int" />
      <xs:element minOccurs="0" name="s_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedCollborators_Details" nillable="true" type="tns:SelectedCollborators_Details" />
  <xs:complexType name="ArrayOfContractDetails_MultipleContractFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractDetails_MultipleContractFile" nillable="true" type="tns:ContractDetails_MultipleContractFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractDetails_MultipleContractFile" nillable="true" type="tns:ArrayOfContractDetails_MultipleContractFile" />
  <xs:complexType name="ContractDetails_MultipleContractFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="i_ContractDetailsID" type="xs:int" />
      <xs:element minOccurs="0" name="s_ContractFile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractDetails_MultipleContractFile" nillable="true" type="tns:ContractDetails_MultipleContractFile" />
  <xs:complexType name="ProjectDataforContractUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pilisst" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="ccmlist" nillable="true" type="tns:ArrayOfContract_Collobrator_Master" />
      <xs:element minOccurs="0" name="pmlist" nillable="true" type="tns:ArrayOfProject_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDataforContractUsers" nillable="true" type="tns:ProjectDataforContractUsers" />
  <xs:complexType name="ArrayOfContract_Collaborator_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Collaborator_Details" nillable="true" type="tns:Contract_Collaborator_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Collaborator_Details" nillable="true" type="tns:ArrayOfContract_Collaborator_Details" />
  <xs:complexType name="Contract_Collaborator_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt_Contract_Request_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_Contract_Collaborator_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Contract_Master_ID" type="xs:int" />
      <xs:element minOccurs="0" name="s_InitialContract_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Collaborator_Details" nillable="true" type="tns:Contract_Collaborator_Details" />
  <xs:complexType name="ArrayOfADUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ADUserDetails" nillable="true" type="tns:ADUserDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfADUserDetails" nillable="true" type="tns:ArrayOfADUserDetails" />
  <xs:complexType name="ADUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Child" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" type="xs:int" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGUID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ADUserDetails" nillable="true" type="tns:ADUserDetails" />
  <xs:complexType name="ArrayOfSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Search" nillable="true" type="tns:Search" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearch" nillable="true" type="tns:ArrayOfSearch" />
  <xs:complexType name="Search">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContAppStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ethics_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feasibility_Status_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PI_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PI_Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Category_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iRecordExists" type="xs:long" />
      <xs:element minOccurs="0" name="i_Feasibility_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="i_ID" type="xs:long" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:long" />
      <xs:element minOccurs="0" name="sContractApplicationstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDepartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Search" nillable="true" type="tns:Search" />
  <xs:complexType name="ArrayOfAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audit" nillable="true" type="tns:Audit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudit" nillable="true" type="tns:ArrayOfAudit" />
  <xs:complexType name="Audit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Audit_Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Columns" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnDatetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audit" nillable="true" type="tns:Audit" />
  <xs:complexType name="ArrayOfRegulatory_Master">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Regulatory_Master" nillable="true" type="tns:Regulatory_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegulatory_Master" nillable="true" type="tns:ArrayOfRegulatory_Master" />
  <xs:complexType name="Regulatory_Master">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTCCount" type="xs:int" />
      <xs:element minOccurs="0" name="CTC_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PI_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b_Internal_Audit" type="xs:boolean" />
      <xs:element minOccurs="0" name="b_Prism_AppStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="dt_CTC_ApprDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_CTC_ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Created_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Modify_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_NewExpiry_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_NewExt_Appr_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Prism_AppDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Protocol_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i_CTC_status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Completed_No" type="xs:int" />
      <xs:element minOccurs="0" name="i_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Ongoing_Patient" type="xs:int" />
      <xs:element minOccurs="0" name="i_Pending_Screen_Outcome" type="xs:int" />
      <xs:element minOccurs="0" name="i_Project_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Randomized" type="xs:int" />
      <xs:element minOccurs="0" name="i_SAE_No" type="xs:int" />
      <xs:element minOccurs="0" name="i_Screen_Failure" type="xs:int" />
      <xs:element minOccurs="0" name="i_Screened" type="xs:int" />
      <xs:element minOccurs="0" name="i_Sponsor_ID" type="xs:int" />
      <xs:element minOccurs="0" name="i_Withdrawn" type="xs:int" />
      <xs:element minOccurs="0" name="s_CTC_Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CTC_EmailDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CTC_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_CreatedBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Display_Project_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IP_Storage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IRB_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Investigation_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_IpManagement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_ModifyBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Other_Sponsor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Prism_AppNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Project_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Protocol_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Protocol_Ver_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_RecruitedBy_TTSH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Rpt_File_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_SAE_Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="s_Withdrawn_Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Regulatory_Master" nillable="true" type="tns:Regulatory_Master" />
  <xs:complexType name="RegulatoryNewProjectEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pilisst" nillable="true" type="tns:ArrayOfPI_Master" />
      <xs:element minOccurs="0" name="pmlist" nillable="true" type="tns:ArrayOfProject_Master" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegulatoryNewProjectEntry" nillable="true" type="tns:RegulatoryNewProjectEntry" />
</xs:schema>