WebApplication1/Service References/TTSHWCFService/TTSHWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTSH.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTSH.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDropDownList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropDownList" nillable="true" type="tns:DropDownList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropDownList" nillable="true" type="tns:ArrayOfDropDownList" />
  <xs:complexType name="DropDownList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropDownList" nillable="true" type="tns:DropDownList" />
</xs:schema>